.sidebar{
    z-index: 1;
    background-color: #ffffff;
    height: 100vh;
    width: 18vw;
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    padding-top: 200px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.sidebar p:first-child{
    /* margin-top: 20vh; */
}
.sidebar a{
    text-align: left;
    margin: 20px 0;
    color: #06283D;
    font-size: 1.2rem;
    cursor: pointer;
    padding: 10px 10px;
    padding-top: 20px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 500;
}
.sidebar a:hover{
    background-color: rgb(170, 162, 162);
}
.active{
    background: rgb(214, 207, 207);
    
   }
.mainContainer{
    display: flex;
    flex-direction: column;
}
*, ::after, ::before{
    box-sizing: border-box;    
}
.navbar{
    position: fixed;
    top: 0;
    left: 18vw;
    z-index: 0;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: #FCF8E8;
    color: #06283D;
    height: 10vh;
    width: 85vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 10px;
}
.account{
    align-self: baseline;
    margin-top: 5px;
}
.navbarText{
    margin-right: 60%;
    align-self: center;
    font-size: 1.2rem;
    margin-top: 20px;
}
.container{
    z-index: 0;
    position: fixed;
    top: 10vh;
    left: 18vw;
    background-color: #EBEDEC;
    width: 82vw;
    height: 93vh;
    overflow: scroll;
    overflow-x: hidden;
    display: flex;

    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.card{
    text-align: left;
    padding-left: 20px;
    border-radius: 10px;
    background-color: #FFFFFF;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    /* width: 440px;
    height: 350px; */
    width: 300px;
      height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    transition: 500ms;
}
.card:hover{
    transform: scale(1.05);
}
.cardHeading{
    font-size: 1.2rem;
    margin: 5px 0;
    font-weight: 300;
}
.cardInfo{
    font-size: 0.8rem;
    color: grey;
    margin: 3px 0;
}
.cardMain{
    word-spacing: 2px;
    margin: 5px 0;
}
.main{
    height: 93vh;
    /* display: flex;
    flex-direction: row;
    align-items: center; */
    padding: 20px 0;
}
p{
    margin-top: 0;
}
.admin{
    width: 230px;
    height: 150px;
    cursor: pointer;
    border-radius: 5px;
}

.adminData{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    margin: 10px;
    max-width: 1060px;
    height: 60vh;
    overflow-y: scroll;
    background-color: #FFFFFF;
    border-radius: 20px;
    padding-top: 10px;
    text-align: left;
}

.profileCard{
    padding: 15px;
    /* height: 250px; */
    width: 200px;
    /* margin: 30px auto; */
    /* display: inline-block; */
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border-radius: 10px;
    margin: 20px;
    background: #EBEDEC;
    text-align: left;
    box-sizing: content-box;
    transition: 200ms;
    cursor: pointer;
    font-size: 1.1rem;
    color: #000000;
    font-weight: 500;
}
.profileCard:hover{
    transform: scale(1.03);
}
.profileEid{
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 5px;
}
.profileName{
    font-size: 1.1rem;
    color: rgb(73, 70, 70);
    font-weight: 400;
    margin-bottom: 5px;


}
.profilePhone{
    font-size: 1rem;
    color: rgb(73, 70, 70);
    font-weight: 400;
}










